.page {
    display: flex;
    flex-direction: column; // 세로 정렬로 변경
    align-items: center; // 수직 중앙 정렬
    justify-content: center; // 수평 중앙 정렬
    margin: 0 auto;
    width: 1100px;
    flex: 1;

    height: auto;
    min-height: 100vh;
    min-height: 880px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__keyword {
        font-weight: 700;
        font-size: 16px;
    }

    &__title {
        font-weight: 700;
        font-size: 50px;
        margin-bottom: 70px;
    }

    &__button {
        display: flex;
        gap: 20px;

        &__start,
        &__tutorial {
            transition: background-color 0.3s ease, color 0.3s ease;
        }
    }
}

/* 이미지 애니메이션을 위한 CSS */
.post {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.post__image {
    position: absolute;
    width: 450px;
    height: 450px;
    transition: transform 1s ease, opacity 1s ease;
}

/* 이미지 기본 상태 */
.post__image:nth-child(1) {
    z-index: 3;
    transform: rotate(0deg);
    animation: image-cycle-1 12s infinite;
}

.post__image:nth-child(2) {
    z-index: 2;
    transform: rotate(5deg);
    animation: image-cycle-2 12s infinite;
}

.post__image:nth-child(3) {
    z-index: 1;
    transform: rotate(-5deg);
    animation: image-cycle-3 12s infinite;
}

/* 이미지 변화 애니메이션 */
@keyframes image-cycle-1 {
    0% {
        transform: rotate(0deg) translateX(100%);
        opacity: 1;
    }

    20% {
        transform: rotate(0deg) translateX(0);
        opacity: 1;
    }

    45% {
        transform: rotate(0deg) translateX(100%);
        opacity: 0;
    }

    75% {
        transform: rotate(0deg) translateX(0);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg) translateX(-100%);
        opacity: 0;
    }
}

@keyframes image-cycle-2 {
    0% {
        transform: rotate(5deg) translateX(100%);
        opacity: 1;
    }

    20% {
        transform: rotate(5deg) translateX(0);
        opacity: 1;
    }

    45% {
        transform: rotate(0deg) translateX(0);
        opacity: 1;
    }

    75% {
        transform: rotate(0deg) translateX(100%);
        opacity: 0;
    }

    100% {
        transform: rotate(5deg) translateX(100%);
        opacity: 0;
    }
}

@keyframes image-cycle-3 {
    0% {
        transform: rotate(-5deg) translateX(100%);
        opacity: 1;
    }

    20% {
        transform: rotate(-5deg) translateX(0);
        opacity: 1;
    }

    45% {
        transform: rotate(5deg) translateX(0);
        opacity: 1;
    }

    75% {
        transform: rotate(0deg) translateX(0);
        opacity: 1;
    }

    100% {
        transform: rotate(0deg) translateX(100%);
        opacity: 0;
    }
}


/* 시작하기, 튜토리얼 버튼 커스텀 */

:global(.isGreen) .landing__button__start {
    font-weight: 700;
    font-size: 27px;
    padding: 20px 50px;
    border-radius: 18px;

    background-color: #6CB2BE;
    color: var(--color-white-000);
    border: 0;

    cursor: pointer;
}

:global(.isGreen) .landing__button__tutorial {
    font-weight: 700;
    font-size: 27px;
    padding: 20px 50px;
    border-radius: 18px;

    background-color: var(--color-white-000);
    border: solid #6CB2BE 4px;

    cursor: pointer;
}

:global(.isPink) .landing__button__start {
    font-weight: 700;
    font-size: 27px;
    padding: 20px 50px;
    border-radius: 18px;

    background-color: #FF8E9A;
    color: var(--color-white-000);
    border: 0;

    cursor: pointer;
}

:global(.isPink) .landing__button__tutorial {
    font-weight: 700;
    font-size: 27px;
    padding: 20px 50px;
    border-radius: 18px;

    background-color: var(--color-white-000);
    border: solid #FF8E9A 4px;
    color: #FF8E9A;

    cursor: pointer;
}

:global(.isYellow) .landing__button__start {
    font-weight: 700;
    font-size: 27px;
    padding: 20px 50px;
    border-radius: 18px;

    background-color: var(--color-white-000);
    color: var(--color-white-700);
    border: 0;

    cursor: pointer;
}

:global(.isYellow) .landing__button__tutorial {
    font-weight: 700;
    font-size: 27px;
    padding: 20px 50px;
    border-radius: 18px;

    background-color: rgba(255, 255, 255, 0.2);
    border: solid var(--color-white-000) 4px;

    cursor: pointer;
}