.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    width: 1100px;
    min-height: 100vh;
}

.chat {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 30px 0;

        &__title {
            font-weight: 700;
            font-size: 40px;
        }

        &__img {
            width: 40px;
            cursor: pointer;
        }
    }


    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    &__other {
        display: flex;
        // flex-direction: row;
        // gap: 20px;

        // position: relative;
        // z-index: 1;
        // margin-bottom: -30px;

        &__video {
            width: 530px;
            height: 500px;
            background-color: #333;

        }

    }

    &__user {
        display: flex;
        // flex-direction: row;
        // gap: 20px;
        // justify-content: flex-end;

        // position: relative;
        // z-index: 2;
        // margin-top: -190px;

        &__video {
            width: 530px;
            background-color: #333;
            height: 500px;
        }

    }

    &__input {
        position: relative;
        width: 1100px;
        height: 110px;
        padding: 20px 80px 20px 30px;
        border-radius: 25px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

        margin-top: 30px;
        margin-bottom: 20px;

        &__content {
            display: block;
            font-weight: 700;
            font-size: 18px;
            word-break: break-word;
            white-space: pre-wrap;
            height: auto;

            max-height: 70px;
            overflow-y: auto;

            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        &__img {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 60px;
            height: 60px;
            cursor: pointer;
        }
    }
}


.bubble__left {
    display: inline-flex;
    position: relative;
    background-color: var(--color-white-000);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 16px;
    font-weight: 700;
    font-size: 18px;
    color: #333;
}

.bubble__left::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: var(--color-white-000) transparent transparent transparent;
    filter: drop-shadow(0 0.125rem 0.625rem rgba(0, 0, 0, 0.2));
}

.bubble__left::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 22px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: var(--color-white-000) transparent transparent transparent;
}

.bubble__right {
    display: flex;
    margin-left: auto;
    // justify-content: flex-end;
    position: relative;
    background-color: var(--color-yellow-300);
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    max-width: 600px;
    color: #333;
}

.bubble__right::before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: 24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: var(--color-yellow-300) transparent transparent transparent;
    // filter: drop-shadow(0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1));
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 135px;
    height: 52px;
    background-color: var(--color-brown-200);
    // border: solid var(--color-white-600) 1px;
    color: var(--color-white-000);
    font-weight: 500;
    font-size: 16px;
    border-radius: 12px;

    cursor: pointer;
}

.wait {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &__wrap {
        border: solid var(--color-white-200) 2px;
        padding: 70px 100px;
        border-radius: 15px;
    }
    
    &__img {
        width: 360px;
        height: 192px;
    }

    &__red {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 500;
        color: var(--color-red-200);
        margin-left: 30px;
    }
}
.keywords {

    &__wrap{
        margin-bottom: 30px;
    }

    &__keyword1 {
        background-color: var(--color-yellow-300); // Example: Gold color for the first keyword
        color: black;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 5px;
        font-size: 16px;
        // margin-left: 20px;
    }

    &__keyword2 {
        background-color: var(--color-brown-200); // Example: Dodger blue for the second keyword
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
    }
}