.page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('@/assets/images/modal_coupon_bg.png');
  // justify-content: center;

  background-position: right bottom;
  background-size: 90%;
  background-repeat: no-repeat;


  &__title {
    font-weight: 700;
    font-size: 40px;
  }

  &__btn {
    font-weight: 500;
    margin-top: 50px;
    color: var(--color-white-000);
    background-color: var(--color-white-600);
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
  }
}