.page {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 700px;

    padding-left: 10px;
    padding-right: 10px;

    // background-color: #ddd;
}


.login {
    width: 443px;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    &__logo {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 15px;
    }

    &__explain {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 40px;
        color: #838383;
    }

    &__sns {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 8px;

        &__item {
            display: flex;
            justify-content: space-between;
            gap: 16px;

            svg {
                cursor: pointer;
                color: #333333;
                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }


    &__divider {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 20px 0;

        &__line {
            flex: 1;
            height: 1px;
            background-color: #CDCED6;
            border: none;
        }

        &__text {
            margin: 0 12px;
            font-size: 14px;
            color: #A1A1A1;
            white-space: nowrap;
        }
    }

    &__form {
        width: 100%;
        margin-bottom: 16px;

        &__label {
            font-weight: 500;
            font-size: 16px;
            color: #666666;
            margin-bottom: 4px;

        }

        &__input {
            width: 100%;
            padding: 16px 16px;
            border: 1px solid #cccccc;
            border-radius: 4px;
            font-size: 14px;
            color: #333333;
        }
    }

    &__submit {
        width: 100%;
        height: 44px;
        background-color: #333333;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: #444444;
        }
    }

    &__join {
        font-weight: 500;
        margin-top: 16px;
        font-size: 16px;
        color: #838383;
        text-align: center;

        &__btn {
            font-weight: 700;
            color: var(--color-white-700);
            // color: #000000;
            text-decoration: none;
            font-weight: 500;
        }
    }


}