.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 173px;

    padding-left: 10px;
    padding-right: 10px;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* 회원탈퇴 */
    &__leave {
        width: 63px;
        min-width: 63px;
        font-weight: 500;
        font-size: 14px;
        color: #A9ABB8;
        cursor: pointer; /* 클릭 가능 */
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-right: 20px;
        // justify-content: center;
        // margin-bottom: 10px;

        /* 푸터 설명 글 */
        &__description {
            width: 700px;
            font-weight: 400;
            font-size: 14px;
            color: #000;
        }

        /* 로고 아이콘 */
        &__icon {
            width: 25px;
            height: 25px;
            max-height: 30px;
            margin-right: 5px;
            object-fit: contain;
        }

        /* 서비스 이름 */
        &__name {
            font-weight: 700;
            font-size: 24px;
            margin-right: 20px;
        }
    }

    &__divider {
        border: 0;
        width: 100%;
        border-top: 1px solid #000;
        margin: 20px 0;
    }

    &__copyright {
        font-weight: 400;
        font-size: 14px;
        color: #000;
    }
}