.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;

    padding-left: 10px;
    padding-right: 10px;
}

.header__content {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.headerDark {
    background-color: var(--color-white-700);
    color: var(--color-white-000);

    .header__navi__item {
        color: var(--color-white-000);
    }

    .header__logo__name {
        color: var(--color-white-000);
    }
}


.headerGreen {
    background-color: #ABC8CD;
}

.headerPink {
    background-color: #FFD0D5;
}

.headerYellow {
    background-color: #FFBC4B;
}

.header__logo {
    display: flex;
    align-items: center;

    &__icon {
        width: 35px;
        height: 35px;
        margin-right: 5px;
    }

    &__name {
        font-weight: 700;
        font-size: 32px;
        color: var(--color-white-700);
    }
}

.header__navi {
    display: flex;
    align-items: center;
    gap: 40px;

    &__item {
        font-weight: 500;
        font-size: 20px;
        color: var(--color-white-700);
    }

    &__coupon {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.header__user {
    position: relative; // ✅ 아이디 기준으로 모달 배치
    display: inline-block;
}

.header__dropdown {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--color-white-400);
    border-radius: 8px;
    color: var(--color-white-000);
    text-align: center;
    z-index: 100;
}
  
.header__logout {
    cursor: pointer;
    padding: 5px 10px;
}

.header__dropdown:hover {
    background: var(--color-white-500);
}
