.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background: #fff;

  background-image: url('@/assets/images/modal_leave_bg.png');
  background-position: left top;
  background-size: 105%;
  background-repeat: no-repeat;

  border-radius: 98px;
  padding: 50px;
  width: 869px;
  max-width: 90%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  position: relative;

  &__header {
    display: flex;
    margin-bottom: 15px;
    
    &__title {
      display: flex;
      justify-content: center;
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 35px;
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 0 50px 0;
  }

  &__sub {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    width: 100%;
    padding-left: 60px;

    &__wrap {
      display: flex;
      gap: 30px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    gap: 40px;


    &__cancle {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 135px;
      height: 52px;
      background-color: var(--color-white-600);
      color: var(--color-white-000);
      font-weight: 500;
      font-size: 16px;
      border-radius: 12px;

      cursor: pointer;
    }
  }
}

.mask {
  position: relative;
  cursor: pointer;
  display: inline-block;

  background-color: var(--color-white-000);
  // padding: 15px;
  border-radius: 30px;
  border: solid var(--color-white-300) 1px;
  padding: 15px;
}

.back {
  position: relative;
  cursor: pointer;
  display: inline-block;

  width: 200px;
  height: 130px;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: solid var(--color-white-300) 1px;
  }
}

.overlayEffect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 100;
  border-radius: 30px;
}

.checkIcon {
  position: absolute;
  width: 100px;
  height: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}