:root {
    // COLOR WHITE
    --color-white-000: #FFFFFF;
    --color-white-100: #F7F7FA;
    --color-white-200: #F0F0F5;
    --color-white-300: #CDCED6;
    --color-white-400: #A9ABB8;
    --color-white-500: #858899;
    --color-white-600: #3E404C;
    --color-white-700: #000000;

    // COLOR YELLOW
    --color-yellow-100: #FFF8E4;
    --color-yellow-200: #FFE699;
    --color-yellow-300: #FFDB6E;
    --color-yellow-400: #FFCC34;
    --color-yellow-500: #FAC10B;

    // COLOR BROWN
    --color-brown-100: #D8A55D;
    --color-brown-200: #B57D30;
    --color-brown-200: #7C4D00;

    // COLOR RED
    --color-brown-200: #F5535E;


    // @forward './variables';
}