// COLOR WHITE
$color-white-000: #ffffff;
$color-white-100: #ececec;
$color-white-200: #f2f4f6;
$color-white-300: #d9d9d9;
$color-white-400: #a8a8a8;
$color-white-500: #9c9c9b;
$color-white-600: #777777;
$color-white-700: #667085;

// @forward './variables';